.siks {
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .cover-wrapper {
      height: 200rpx;
      width: 300rpx;
      .image {
        height: 100%;
        width: 100%;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .amount {
      font-size: 16pt;
      color: gold;
    }
  }
}