.meta-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32rpx;
  .nick-wrap {
    margin-left: 12rpx;
    flex: 1;
  }
  .quest-info {
    display: flex;
  }
}