@primary-color: #f9ba0d;;

.page-content {
  padding-bottom: 144rpx;
}
.link-road-container {
  margin-top: 16rpx;
  padding: 24rpx;
  min-height: 320rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  overflow-x: auto;
  .link-road-item-wrap {
    margin:  0 64px 0 0;
    position: relative;
    &:last-child {
      margin: 0;
    }
    &:not(:last-child)::after {
      display: block;
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: -42rpx;
      height: 0;
      border-left: 18rpx solid @primary-color;
      border-top: 18rpx solid transparent;
      border-bottom: 18rpx solid transparent;
    }
    .link-road-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      .name{
        position: absolute;
        bottom: -64rpx;
        font-size: 24rpx;
        margin: auto;
        width: 200rpx
      }
      .empty {
        display: block;
        height: 84rpx;
        width: 84rpx;
        border: 2rpx dashed @primary-color;
        border-radius: 50%;
      }
    }
  }
}
.sik-btn {
  display: inline-block;
  width: 320rpx;
  color: white;
  letter-spacing: 2rpx;
  background-color: @primary-color;
  border: none;
}
.sik-btn-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 10rpx 15rpx rgba(#000000, 1);
  background: white;
  height: 128rpx;
  padding-top: 16rpx;
  padding: 0 24rpx;
  &.center {
    justify-content: center;
  }
}

.hint {
  width: 100%;
  height: 160rpx;
  line-height: 160rpx;
  text-align: center;
}

.back-btn {
  margin-left: 24rpx;
  width: 48rpx;
  height: 48rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rule {
  padding: 24rpx;
  .title {
    font-size: 36rpx;
    display: flex;
    border-radius: 8rpx;
    width: 120rpx;
    align-items: center;
    justify-content: center;
    padding: 8rpx 14rpx;
    border: 1rpx solid @primary-color;
    color: @primary-color;
  }
  .rule-item {
    font-size: 30rpx;
    line-height: 48rpx;
  }
}

.suspect-wrap{

  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  .suspect-entry {
    color: @primary-color;
    font-size: 42rpx;
  }

  .avatar-wrap {
    margin-top: 100rpx;
    display: flex;
    .at-avatar {
      margin: 0 48rpx;
    }
  }
}