@primary-color: #f9ba0d;;

.page-content {
  background: #e9e9e9;
}

.filter-container {
  font-size: 32px;
  background-color: white;
  .item {
    display: flex;
    align-items: center;
    padding: 12rpx;
  }
  .filters{
    .item;
  }
  .sorts {
    border-bottom: 1rpx solid #e9e9e9;
    border-top: 1rpx solid #e9e9e9;
    padding: 16rpx 0;
    height: 64rpx;
    .item;
    .sort-item {
      margin: 0 16rpx;
      position: relative;
      &.active {
        color: @primary-color;
        transition: all ease 0.3s;
        &::after {
          position: absolute;
          height: 8rpx;
          width: 36rpx;
          background: @primary-color;
          left: 0;
          right: 0;
          bottom: -10rpx;
          margin: auto;
          display: block;
          content: ' ';
          animation: fade-in ease 0.5s forwards;
        }
      }
    }
  }
}
.more-btn {
  width: 100%;
  height: 64rpx;
  background-color: white;
  border-radius: 0;
  line-height: 64rpx;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}